{{- if and .Values.full.enabled .Values.full.superClientInfoSecretName }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "korap.fullname" . }}-full-init
  labels:
    {{- include "korap.labels" . | nindent 4 }}
    app: full-init
spec:
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: full-init
        release: {{ .Release.Name }}
    spec:
      {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Never
      containers:
        - name: full-init
          image: korap/kalamar:latest
          imagePullPolicy: {{ (.Values.global | default dict).imagePullPolicy }}
          command:
            - super_client_info
            - kalamar
            - "{{ ((.Values.full | default dict).dataVolume | default dict).mountPath }}/super_client_info"
          volumeMounts:
            {{- if and (.Values.full | default dict).enabled ((.Values.full | default dict).dataVolume | default dict).enabled }}
            - name: data
              mountPath: "{{ ((.Values.full | default dict).dataVolume | default dict).mountPath }}"
            {{- end }}
      volumes:
        {{- if and (.Values.full | default dict).enabled ((.Values.full | default dict).dataVolume | default dict).enabled }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ if ((.Values.full | default dict).dataVolume | default dict).existingClaim }}{{ ((.Values.full | default dict).dataVolume | default dict).existingClaim }}{{ else }}{{ include "korap.fullname" . }}-data{{ end }}
        {{- end }}
{{- end }}
