{{- if and (.Values.keycloak | default dict).enabled (not (.Values.keycloak | default dict).clientSecretSecretName) (.Values.keycloak | default dict).clientSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "korap.fullname" . }}-keycloak-client-secret
  labels:
    {{- include "korap.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ (.Values.keycloak | default dict).clientSecretKey | default "client-secret" }}: "{{ (.Values.keycloak | default dict).clientSecret }}"
{{- end }}
