{{- if not (.Values.full | default dict).enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "korap.fullname" . }}-kustvakt
  labels:
    {{- include "korap.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kustvakt
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: kustvakt
        release: {{ .Release.Name }}
    spec:
      {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "korap.fullname" . }}
      restartPolicy: {{ .Values.restartPolicy | default "Always" }}
      containers:
        - name: kustvakt
          image: '{{ .Values.kustvakt.image }}'
          imagePullPolicy: IfNotPresent

          ports:
            - name: http
              containerPort: {{ ((.Values.service | default dict).kustvakt | default dict).port }}

          env:
            {{- if (.Values.keycloak | default dict).enabled }}
            {{- if (.Values.keycloak | default dict).authUrl }}
            - name: KC_AUTH_URL
              value: "{{ (.Values.keycloak | default dict).authUrl }}"
            {{- end }}
            {{- if (.Values.keycloak | default dict).clientId }}
            - name: KC_CLIENT_ID
              value: "{{ (.Values.keycloak | default dict).clientId }}"
            {{- end }}
            {{- if (.Values.keycloak | default dict).issuer }}
            - name: KC_ISSUER
              value: "{{ (.Values.keycloak | default dict).issuer }}"
            {{- end }}
            {{- if (.Values.keycloak | default dict).jwksUri }}
            - name: KC_JWKS_URI
              value: "{{ (.Values.keycloak | default dict).jwksUri }}"
            {{- end }}
            {{- if (.Values.keycloak | default dict).tokenUrl }}
            - name: KC_TOKEN_URL
              value: "{{ (.Values.keycloak | default dict).tokenUrl }}"
            {{- end }}
            {{- if (.Values.keycloak | default dict).userinfoUrl }}
            - name: KC_USERINFO_URL
              value: "{{ (.Values.keycloak | default dict).userinfoUrl }}"
            {{- end }}
            {{- $secretName := (.Values.keycloak | default dict).clientSecretSecretName }}
            {{- if not $secretName }}
            {{- if and (.Values.keycloak | default dict).enabled (.Values.keycloak | default dict).clientSecret }}
            {{- $secretName = printf "%s-keycloak-client-secret" (include "korap.fullname" .) }}
            {{- end }}
            {{- end }}
            {{- if $secretName }}
            - name: KC_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ $secretName }}
                  key: {{ (.Values.keycloak | default dict).clientSecretKey | default "client-secret" }}
            {{- end }}
            {{- end }}
            {{- with (.Values.kustvakt | default dict).extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}

          volumeMounts:
            - name: index
              mountPath: /kustvakt/index

            {{- if and (.Values.full | default dict).enabled (.Values.full | default dict).superClientInfoSecretName }}
            - name: super-client
              mountPath: /kustvakt/client/super_client_info
              subPath: super_client_info
            {{- end }}

      volumes:
        - name: index
          persistentVolumeClaim:
            claimName: {{ if (.Values.indexVolume | default dict).existingClaim }}{{ (.Values.indexVolume | default dict).existingClaim }}{{ else }}{{ include "korap.fullname" . }}-index{{ end }}

        {{- if and (.Values.full | default dict).enabled (.Values.full | default dict).superClientInfoSecretName }}
        - name: super-client
          secret:
            secretName: {{ (.Values.full | default dict).superClientInfoSecretName }}
        {{- end }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "korap.fullname" . }}-kustvakt
  labels:
    {{- include "korap.labels" . | nindent 4 }}
spec:
  type: {{ ((.Values.service | default dict).kustvakt | default dict).type }}
  selector:
    app: kustvakt
    release: {{ .Release.Name }}
  ports:
    - name: http
      port: {{ ((.Values.service | default dict).kustvakt | default dict).port }}
      targetPort: http
{{- end }}
