{{- if and .Values.kustvaktFull.enabled (.Values.full.kustvaktLdap.enabled) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "korap.fullname" . }}-kustvakt-ldap-config
  labels:
    {{- include "korap.labels" . | nindent 4 }}
    variant: full
data:
  ldap.conf: |
    host={{ .Values.full.kustvaktLdap.host }}
    port={{ .Values.full.kustvaktLdap.port }}
    useSSL={{ .Values.full.kustvaktLdap.useSSL }}
    useStartTLS={{ .Values.full.kustvaktLdap.useStartTLS }}

    # Must use sLoginDN, not bindDN
    sLoginDN={{ .Values.full.kustvaktLdap.sLoginDN }}

    # Inject password from secret file
    sLoginPW=/kustvakt/ldap/secret/{{ .Values.full.kustvaktLdap.passwordKey }}

    searchBase={{ .Values.full.kustvaktLdap.searchBase }}
    searchFilter={{ .Values.full.kustvaktLdap.searchFilter }}
    emailAttribute={{ .Values.full.kustvaktLdap.emailAttribute | default "mail" }}
    authFilter={{ .Values.full.kustvaktLdap.authFilter }}
    userNotBlockedFilter={{ .Values.full.kustvaktLdap.userNotBlockedFilter | default "" }}
    ldapTimeout={{ .Values.full.kustvaktLdap.ldapTimeout }}
    trustStore={{ .Values.full.kustvaktLdap.trustStore | default "" }}
{{- end }}
