profile: lite

global:
  imagePullPolicy: IfNotPresent

service:
  kalamar:
    port: 64543
    type: ClusterIP
  kustvakt:
    port: 8089
    type: ClusterIP

kalamar:
  image: korap/kalamar:latest
  replicaCount: 1
  extraEnv: []

kalamarFull:
  enabled: false
  image: korap/kalamar:latest
  replicaCount: 1
  extraEnv: []

kustvakt:
  image: korap/kustvakt:latest
  extraEnv: []

kustvaktFull:
  enabled: false
  image: korap/kustvakt:latest-full
  extraEnv: []

exampleIndex:
  enabled: false
  image: korap/example-index:0.1

indexVolume:
  size: 10Gi
  storageClassName: null
  existingClaim: null

ingress:
  enabled: false
  className: null
  annotations: {}
  hosts: []
  tls: []

full:
  enabled: false
  superClientInfoSecretName: null
  superClientInfoKey: super_client_info
  superClientInfoPath: /kalamar/super_client_info
  kalamarProductionConf:
    enabled: false
    # Kalamar production configuration in Perl format
    # See: https://github.com/KorAP/Kalamar
    # Required format is a Perl hash configuration with API endpoint and plugin settings
    content: |
      {
        Kalamar => {
          api_path => 'https://korap.ids-mannheim.de/api/',
          api_version => '1.0',
          https_only => 1,
          plugins => ['Auth', 'KorAPXML2Krill', 'Tei2KorAPXML', 'Plugins']
        },
        'Kalamar-Auth' => {
          oauth2 => 1
        },
        CSP => {
          'default-src' => 'self',
          'style-src' => ['self','unsafe-inline'],
          'script-src' => ['self'],
          'connect-src' => 'self',
          'img-src' => ['self', 'data:']
        }
      }
  dataVolume:
    enabled: false
    mountPath: /kalamar/data
    size: 50Gi
    storageClassName: null
    existingClaim: null
  kustvaktDataVolume:
    enabled: false
    mountPath: /kustvakt/data
    size: 50Gi
    storageClassName: null
    existingClaim: null

restartPolicy: Always

securityContext:
  runAsUser: 0
  runAsGroup: 0
  fsGroup: 0
