
profile: lite

global:
  imagePullPolicy: IfNotPresent

service:
  kalamar:
    port: 64543
    type: ClusterIP
  kustvakt:
    port: 8089
    type: ClusterIP

kalamar:
  image: korap/kalamar:latest
  replicaCount: 1
  extraEnv: []

kalamarFull:
  enabled: false
  image: korap/kalamar:latest
  replicaCount: 1
  extraEnv: []

kustvakt:
  image: korap/kustvakt:latest
  extraEnv: []

kustvaktFull:
  enabled: true                     # <-- ENABLE FULL PROFILE
  image: korap/kustvakt:latest-full
  extraEnv: []

exampleIndex:
  enabled: false

indexVolume:
  size: 10Gi
  storageClassName: null
  existingClaim: null

ingress:
  enabled: false
  className: null
  annotations: {}
  hosts: []
  tls: []


full:
  enabled: true

  # OAuth2 Super Client (unchanged)
  superClientInfoSecretName: null
  superClientInfoKey: super_client_info
  superClientInfoPath: /kalamar/super_client_info
  
  superClientInfo:
    enabled: true
    clientId: "korap-client"
    clientSecret: "auto-generate"
    clientRedirectUri: "https://korap.acdh-dev.oeaw.ac.at/oauth2/callback"
    super: true
    
  kalamarProductionConf:
    enabled: false
    content: |
      {
        Kalamar => {
          api_path => 'https://korap.ids-mannheim.de/api/',
          api_version => '1.0',
          https_only => 1,
          plugins => ['Auth', 'KorAPXML2Krill', 'Tei2KorAPXML', 'Plugins']
        },
        'Kalamar-Auth' => {
          oauth2 => 1
        },
        CSP => {
          'default-src' => 'self',
          'style-src' => ['self','unsafe-inline'],
          'script-src' => ['self'],
          'connect-src' => 'self',
          'img-src' => ['self', 'data:']
        }
      }

  kustvaktLdap:
    enabled: true

    # LDAP Server
    useEmbeddedServer: false
    host: "ldap.host"
    port: 636
    useSSL: true
    useStartTLS: false

    # LDAP Search
    searchBase: ""
    searchFilter: "(&(objectClass=User)(|(sAMAccountName=${login})(mail=${login})))"

    # LDAP Bind Account
    sLoginDN: "user@domain"

    # OPTION 1: Password stored in Kubernetes Secret (recommended)
    passwordSecret: kustvakt-ldap-secret   # <-- The secret that contains the password
    passwordKey: "password"               # <-- Key inside the secret

    # OPTION 2 (NOT recommended): Inline password (set passwordSecret: null)
    password: null

    # Optional fields
    emailAttribute: "mail"
    authFilter: null
    userNotBlockedFilter: null
    ldapTimeout: 9000
    trustStore: null
    uidAttribute: "sAMAccountName"

  dataVolume:
    enabled: false
    mountPath: /kalamar/data
    size: 50Gi
    storageClassName: null
    existingClaim: null

  kustvaktDataVolume:
    enabled: false
    mountPath: /kustvakt/data
    size: 50Gi
    storageClassName: null
    existingClaim: null

restartPolicy: Always

securityContext:
  runAsUser: 0
  runAsGroup: 0
  fsGroup: 0
