profile: lite

global:
  imagePullPolicy: IfNotPresent

service:
  kalamar:
    port: 64543
    type: ClusterIP
  kustvakt:
    port: 8089
    type: ClusterIP

kalamar:
  image: korap/kalamar:latest
  replicaCount: 1
  extraEnv: []

kalamarFull:
  enabled: false
  image: korap/kalamar:latest
  replicaCount: 1
  extraEnv: []

kustvakt:
  image: korap/kustvakt:latest
  extraEnv: []

kustvaktFull:
  enabled: false
  image: korap/kustvakt:latest-full
  extraEnv: []

exampleIndex:
  enabled: false
  image: korap/example-index:0.1

indexVolume:
  size: 10Gi
  storageClassName: null
  existingClaim: null

ingress:
  enabled: false
  className: null
  annotations: {}
  hosts: []
  tls: []

full:
  enabled: false
  superClientInfoSecretName: null
  superClientInfoKey: super_client_info
  superClientInfoPath: /kalamar/super_client_info
  kalamarProductionConf:
    enabled: false
    content: ""
  dataVolume:
    enabled: false
    mountPath: /kalamar/data
    size: 50Gi
    storageClassName: null
    existingClaim: null
  kustvaktDataVolume:
    enabled: false
    mountPath: /kustvakt/data
    size: 50Gi
    storageClassName: null
    existingClaim: null

restartPolicy: Always

securityContext:
  runAsUser: 0
  runAsGroup: 0
  fsGroup: 0
